<!DOCTYPE html>
<html lang="en">
<head>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.css" rel="stylesheet" type=”text/css”>
    <link href= "http://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.css" rel="stylesheet" type=”text/css”>

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.1.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.1.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.1.0.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.1.0.min.js"></script>
    {{ script | safe }}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{ div | safe }}
</body>
</html>